<form action="/malwares/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <input type="text" name="malware_id">
    <input type="submit" name="submit">
</form>