<form action="/malware/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <input type="text" name="malware_id">
</form>
<script>
    var express = require('express')
    var multer = require('multer')
    var upload = multer({ dest: 'uploads/' })

    var app = express();
</script>